{% extends 'base.html' %}
{% load static %}
{% block title %} | About Us {% endblock %}

{% block content %}
    <div class="container-fluid about-image">
      <div class="about-text">
        <br><h3>ABOUT US</h3><br>
        Our story is inspired by the wealth-creation potential we see every day in the financial markets 
        which the Kenyan youth are within reach to capitalise in improving their lives. MK Consultancy seeks 
        to be in this gap where such opportunity meets the potential of financial independency by offering financial
         planning, savings and investment advice services.
      </div>
    </div>
    <div class="container"><br>
      
      <div class="row text-center">
        <div class="col-md-6">
          <img src="images/mission_vision.jpg" width="350"/>
        </div>
        <div class="col-md-6">
          <h4 class="text-info">VISION</h4>
          <p>Become a trusted financial advisory firm</p>
          <h4 class="text-info">MISSION</h4>
          <p>To promote financial literacy</p>
        </div>
      </div><br>
    </div>
    <div class="bg-light text-center container-fluid"><br>
      <div class="container">
              <p class="text-center"><h3>Meet our founder</h3></p><br>
              <div class="row featurette">
                  <div class="col-md-7">
                    <h2 class="featurette-heading">Karen <span class="text-muted">Kamau</span></h2>
                    <p class="lead">Karen is a financial analyst with a passion for financial literacy and youth empowerment. 
                      With over 3 years of experience in the financial services and capital markets sectors she brings 
                      first-hand experience in identifying investment opportunities, assessing their risks and duly advising 
                      clients on the best mix of investments to pursue.  </p>
                  </div>
                  <div class="col-md-5">
                    <img src="images/karen.png" width="300"/>
                  </div>
                </div><br>
      </div>    
  </div>
{% endblock content%}