{% extends 'base.html' %}
{% load static %}
{% block title %} | Blogs {% endblock %}

{% block content %}
            <div class="container">
                <div class="text-center">
                    <p><h3>BLOGS</h3></p>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <h4 class="mb-0 text-primary"><strong>Make your way to financial freedom</strong></h4>
                          <div class="mb-1 text-muted">Oct. 19, 2020</div>
                          <p class="card-text mb-auto">By</p>
                          <p class="card-text mb-auto text-muted">Karen Kamau</p>
                          <a href="blog.html" target="_blank" class="stretched-link">Continue reading</a>
                        </div>
                      </div>
                    </div> 
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <h4 class="mb-0 text-primary"><strong>Make your way to financial freedom</strong></h4>
                          <div class="mb-1 text-muted">Oct. 19, 2020</div>
                          <p class="card-text mb-auto">By</p>
                          <p class="card-text mb-auto text-muted">Karen Kamau</p>
                          <a href="blog.html" target="_blank" class="stretched-link">Continue reading</a>
                        </div>
                      </div>
                    </div> 
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <h4 class="mb-0 text-primary"><strong>Make your way to financial freedom</strong></h4>
                          <div class="mb-1 text-muted">Oct. 19, 2020</div>
                          <p class="card-text mb-auto">By</p>
                          <p class="card-text mb-auto text-muted">Karen Kamau</p>
                          <a href="blog.html" target="_blank" class="stretched-link">Continue reading</a>
                        </div>
                      </div>
                    </div> 
                </div>
            </div>
   {% endblock content %}