{% extends 'base.html' %}
{% load static %}
{% block title %} | Home {% endblock %}

{% block content %}
<div class="container">
  <div class="text-center">
    <br><h4>OUR SERVICES</h4>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h5 class="text-info">Training on Investment Opportunities</h5>
      <p>
        We provide a breakdown of investment options available to individuals and groups by first analysing the capital 
        requirement of each option and the risk profiles for all investment products. We effectively take our clients 
        through products offered in the capital and money markets, train them on product description for stocks, bonds,
         derivatives, money market funds, SACCOs and how to invest in each one of them.
      </p>
    </div>
    <div class="col-md-6">
      <img class="w-100" src="{% static 'images/stock.png' %}" height="300"/>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-md-6">
      <img class="w-100" src="{% static 'images/graph.jpg' %}" height="300" />
    </div>
    <div class="col-md-6 text-center">
      <h5 class="text-info">Financial Planning and Budgeting </h5>
      <p>
        Over and above the initial training of our clients, MK Consultancy will endeavour to walk the journey with our clients
         for a period to help actualize financial plans suitable to the clients. These would involve feedback sessions to assess 
         the suitability of the set actions and/ or if they may need some adjustments. 
      </p>        
    </div>
  </div>
</div><br>
{% endblock content %}