{% extends 'base.html' %}
{% load static %}
{% block title %} | Videos {% endblock %}

{% block content %}
            <div class="container">
                <div class="text-center">
                    <p><h3>VIDEOS</h3></p>
                </div>
                {%if videos %}
                <div class="row text-center ">
                  {% for video in videos %}
                    <div class="col-md-4 mb-3">
                      <iframe width="350" height="250" src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <br><a target="_blank" href="{{video.link}}">{{video.title}}</a>
                    </div>
                  {% endfor %}
                  
                  </div>
                  {% else %}
                <div class="text-center">
                  <p>No Videos to display</p>
                </div>
                  {% endif %}<br><br>
            </div>
   {% endblock content %}