{% extends 'base.html' %}
{% load static %}
{% block title %} | Home {% endblock %}

{% block content %}
            <div class="container">
                <div class="text-center">
                    <p><h3>VIDEOS</h3></p>
                </div>
                <div class="row text-center ">
                    <div class="col-md-4 mb-3">
                      <iframe width="350" height="250" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <br><a target="_blank" href="https://www.youtube.com/watch?v=ScMzIvxBSi4&t=6s&ab_channel=BenMarquezTX">Financial Freedom</a>
                    </div>
                    <div class="col-md-4 mb-3">
                      <iframe width="350" height="250" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <br><a target="_blank" href="https://www.youtube.com/watch?v=ScMzIvxBSi4&t=6s&ab_channel=BenMarquezTX">Financial Freedom</a>
                    </div>
                    <div class="col-md-4 mb-3">
                      <iframe width="350" height="250" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <br><a target="_blank" href="https://www.youtube.com/watch?v=ScMzIvxBSi4&t=6s&ab_channel=BenMarquezTX">Financial Freedom</a>
                    </div>
                  </div><br><br>
            </div>
   {% endblock content %}