<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Timothy Madegwa">
    {% load static%}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/x-icon">

    <title>MK Consultancy {% block title %} {% endblock title%} </title>
  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/MK-Cover-Page-2.jpg' %}" height="60" width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto navbar-dark">
                <li class="nav-item nav-link">
                    <a class="nav-link" href="{% url 'index' %}"><strong>Home</strong></a>
                </li>
                <li class=" nav-item nav-link">
                  <a class="nav-link" href="{% url 'about' %}"><strong>About Us </strong></a>
               </li>
              <li class=" nav-item nav-link">
                 <a class="nav-link" href="{% url 'services' %}"><strong>Services </strong></a>
              </li>
                <li class="nav-item nav-link">
                  <a class="nav-link" href="{% url 'blogs' %}"><strong>Blogs</strong></a>
                </li>
                <li class=" nav-item nav-link">
                  <a class="nav-link" href="{% url 'videos' %}"><strong>Videos </strong></a>
                </li>
                <li class=" nav-item nav-link">
                  <a class="nav-link" href="{% url 'contact' %}"><strong>Contact Us</strong></a>
                </li>
              </ul>
            </div>
          </nav><br><br><br>

          {% block content %}


          {% endblock content%}
        </body>
        <footer class="page-footer font-large special-color-dark pt-4 bg-info" style="font-size: larger;">
      
          <!-- Footer Elements -->
          <div class="container">
        
            <!-- Footer Links -->
          <div class="container text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-4 mr-auto my-md-4 my-0 mt-4 mb-1">
        
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">MK Consultancy</h5>
                <p>We are a team of young visionary finance professionals with a passion for financial literacy and youth empowerment</p>
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none">
        
              <!-- Grid column -->
              <div class="col-md-4 mx-auto my-md-4 my-0 mt-4 mb-1">
        
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Quick Links</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <p>
                      <a href="{% url 'about' %}" class="footer">About Us</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="{% url 'services' %}" class="footer">Services</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="{% url 'blogs' %}" class="footer">Blogs</a>
                    </p>
                  </li>
                  <li>
                      <p>
                        <a href="{% url 'videos' %}" class="footer">Videos</a>
                      </p>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none">
        
              <!-- Grid column -->
              <div class="col-md-4 mx-auto my-md-4 my-0 mt-4 mb-1">
        
                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Contact Us</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <p>
                      <i class="fas fa-envelope mr-3"></i> <a href="mailto:info@mkc.co.ke" target="_blank" class="footer">info@mkc.co.ke</a></p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-phone mr-3"></i> <a href="tel:0798294452" class="footer">0798294452</a></p>
                  </li>
                  <li>
                      <p>
                          <a href="#" target="_blank" class="footer"><i class="fab fa-facebook fa-lg pr-2"></i> Facebook</a>
                      </p>
                  </li>
                </ul>
        
              </div>  
          </div>
          <!-- Footer Elements -->
        </footer>
        <div class="footer-copyright text-center py-3 bg-secondary" style="color: white;">
          © 2020 MK Consultancy. All Rights Reserved<br>
          Powered by <a href="https://aqila.co.ke" style="color: lightblue" target="_blank">Aqila Software Limited</a>
        </div>
      </html>